:root {
  --textColor: black;
  --borderColor: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--textColor);
}

.headerContainer {
  display: flex;
  justify-content: center;
}

.contentContainer {
  display: flex;
  justify-content: center;
}

.contentSection {
  margin: 10px;

  height: fit-content;
  min-height: 300px;
}

.leftContent {
  width: 40%;

  max-width: 800px;
  margin-left: 5%;
}

.rightContent {
  width: 65%;
  max-width: 1000px;
  margin-right: 6%;
}

.CVContainer {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  min-width: 100%;
}

.leftContent.contentSection .headerInputs {
  margin-bottom: 15px;
}
