.leftContent.contentSection .experienceSection {
  height: fit-content;
}

.leftContent.contentSection .titleAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.leftContent.contentSection .titleAndButton h2 {
  margin: 15px;
}

.leftContent.contentSection .titleAndButton button {
  margin-right: 20px;
  height: 25px;
  width: 25px;

  background-color: white;
  color: gray;
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  cursor: pointer;
}

.leftContent.contentSection .titleAndButton button:hover {
  background-color: gainsboro;
}

.leftContent.contentSection .experienceInput h5 {
  margin: 0;
}

.leftContent.contentSection .experienceInput div input {
  height: 20px;
}

.displayBar {
  display: flex;
}

.hideBar {
  display: none;
}

.leftContent.contentSection .experienceInput {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: fit-content;
  width: 90%;
}
