/* global margin  */
.leftContent.contentSection input,
.leftContent.contentSection textarea {
  margin-top: 5px;
}

.leftContent.contentSection .experienceSection {
  height: fit-content;
  min-height: 50px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.87);

  margin-bottom: 20px;
}
.leftContent.contentSection
  .experienceSection:nth-of-type(4)
  .textAreaWrapper
  h5,
.leftContent.contentSection
  .experienceSection:nth-of-type(4)
  .textAreaWrapper
  textarea {
  display: none;
}

.leftContent.contentSection .titleAndButton {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  width: 100%;
  height: 80px;
}

.leftContent.contentSection .experienceInputs {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: aliceblue;
}

.leftContent.contentSection .experienceInput button h4 {
}

.leftContent.contentSection .experienceInputs .experienceInput {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;

  background-color: white;
}

.leftContent.contentSection .experienceButton {
  height: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  border-top: 3px solid aliceblue;
  border-bottom: 3px solid aliceblue;
}

.leftContent.contentSection .experienceInput:first-of-type button {
  border-top: 6px solid aliceblue;
}

.leftContent.contentSection .experienceInputs .experienceInput:hover {
  cursor: pointer;
}

.leftContent.contentSection .addRowButton {
  margin-top: 3px;
  height: 60px;
  width: 100%;

  justify-content: center;
  align-items: center;
  font-size: 16px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  background-color: white;
  color: black;
  border: none;
}

.leftContent.contentSection .addRowButton:hover {
  cursor: pointer;
}

.leftContent.contentSection .addRowButton h4 {
  padding: 9px;
  border-radius: 10px;
  border: 2px solid gainsboro;
  transition: border 0.2s ease-out;

  font-size: 14px;
}

.leftContent.contentSection:has(.addRowButton:hover) .addRowButton > h4 {
  border: 2px solid gray;
}

.leftContent.contentSection .addRowButton h4:hover {
  outline: 0.5px solid gray;
}

.leftContent.contentSection .experienceInputs .experienceInput h4 {
  margin: 10px;
}

.leftContent.contentSection .experienceInputs .experienceInput > button {
  align-items: center;
  justify-content: start;
}

.leftContent.contentSection .experienceInputs .inputsContainer {
  width: 100%;
}

.leftContent.contentSection .inputsAndInputsButtonsContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-self: center;
}

.leftContent.contentSection .inputsAndInputsButtonsContainer div {
  display: flex;
  flex-direction: column;
  width: 97%;
}

.leftContent.contentSection .inputsAndInputsButtonsContainer div:nth-child(2) {
  margin-top: 10px;
}

.leftContent.contentSection .inputsAndInputsButtonsContainer div:nth-child(3),
.leftContent.contentSection .inputsAndInputsButtonsContainer div:nth-child(4) {
  width: 40%;
  height: 97%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.leftContent.contentSection .inputsAndInputsButtonsContainer div:nth-child(3) {
  margin-left: -53.5%;
}

.leftContent.contentSection .inputsAndInputsButtonsContainer div:nth-child(4) {
  margin-top: -59px;
  margin-right: -54%;
}

/*hide id input*/
.leftContent.contentSection .inputsAndInputsButtonsContainer div:nth-child(6) {
  display: none;
}

.leftContent.contentSection .inputsAndInputsButtonsContainer input {
  height: 15px !important;
  padding: 7px;
  background-color: rgb(120, 120, 120, 0.1);
  color: black;

  border-radius: 4px;
  border: none;
  outline: 1.5px solid transparent;
  transition: outline 0.2s ease;

  width: 97% !important;
  max-width: 1000px !important;
}

.leftContent.contentSection .inputsAndInputsButtonsContainer input:focus,
.leftContent.contentSection .inputsAndInputsButtonsContainer textarea:focus {
  transition: outline 1s ease-out;
  outline: 1.5px solid gray;
}

.leftContent.contentSection .inputsAndInputsButtonsContainer div input {
  align-self: center;
}

.leftContent.contentSection .textAreaWrapper {
  margin-top: 20px;
  width: 90%;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.leftContent.contentSection .textAreaWrapper h5 {
  width: 96%;
  align-self: center;
}

.leftContent.contentSection .textAreaWrapper textarea {
  width: 95%;
  max-height: 200px;
  min-height: 30px;
  resize: none;
  align-self: center;

  background-color: gainsboro;
  color: black;
  border: none;
  outline: none;
  resize: none;
}

.leftContent.contentSection .experienceInputContainerButtons {
  width: 95%;
  margin-top: 15px;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: -1.7%;
}

.leftContent.contentSection .experienceInputContainerButtons button {
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: gray !important;
  color: white;
  transition: background-color 0.2s ease;

  height: 25px;
  width: 70px;
  border: none !important;
  border-radius: 5px;

  cursor: pointer;
}

.leftContent.contentSection .experienceInputContainerButtons button:hover {
  transition: background-color 0.2s ease;
  background-color: gainsboro !important;
  color: white;
}

.leftContent.contentSection:has(.submitBtn:disabled)
  .inputsAndInputsButtonsContainer
  div:nth-child(1)
  input {
  transition: outline 0.2s ease;
  outline: 2px solid rgb(225, 144, 144) !important;
}

.leftContent.contentSection:has(.submitBtn:disabled)
  .inputsAndInputsButtonsContainer
  div:nth-child(1)
  input:focus {
  border: none;
}

.leftContent.contentSection:has(.submitBtn:disabled)
  .inputsAndInputsButtonsContainer
  div:nth-child(1)
  p {
  display: block !important;
  position: relative;
  font-size: 14px;
  margin-top: -22px;
  margin-left: 57%;
  margin-bottom: 0px;
}

.leftContent.contentSection .submitBtn:disabled {
  background-color: gainsboro !important;
}

.leftContent.contentSection .submitBtn:disabled:hover {
  background-color: gainsboro !important;
  color: white;
}

.leftContent.contentSection .deleteRowButton {
}

.leftContent.contentSection .titleAndButton h2 {
  margin: 15px;
  margin-left: 6%;
}

.leftContent.contentSection .titleAndButton button {
  margin-right: 20px;
  height: 25px;
  width: 25px;

  background-color: white;
  color: gray;
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  cursor: pointer;
}

.leftContent.contentSection .titleAndButton button:hover {
  background-color: gainsboro;
}

.leftContent.contentSection .experienceInput h5 {
  margin: 0;
}

.minimizeBar {
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.scaleUpBar {
  height: auto;
  max-height: 500px;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  transition: max-height 0.6s ease-out, opacity 0.6s ease-out,
    visibility 0.6s ease-out;

  border-radius: 10px;
}

.scaleUpBarBtn {
  height: auto;
  max-height: 250px;
  height: 40px;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}

.displayBar {
  display: flex;
}

.hideBar {
  display: none;
}

.experienceTitleMini {
  border-radius: 10px;
}
