.headerContainer {
  display: flex;
  justify-content: center;
  align-items: end;

  background-color: white;
  width: fit-content;
  height: fit-content;
}

.headerContainer input {
  height: 20px;
}
