/* ---------------------------------- v Left side v ---------------------------------- */

.leftContent.contentSection {
  display: flex;
  flex-direction: column;

  align-items: center;

  margin-bottom: 20px;
}

.leftContent > div {
  margin: 0;

  display: flex;

  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 90%;
}

.leftContent > div {
}

.leftContent > div h2 {
  margin-left: 5%;
}

.leftContent.contentSection .headerInputsContainer div {
  align-self: center;
}

.leftContent .headerInputsContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.leftContent .headerInputsContainer .headerContainer {
  min-width: 100%;

  background-color: white;

  height: 340px;
  min-height: fit-content;
  margin-top: -20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.leftContent .headerInputsContainer div:nth-child(4) {
  margin-bottom: 15px;
}

.leftContent .headerInputsContainer h4 {
  margin: 0;

  align-self: flex-start;
}

.leftContent .headerInputsContainer div {
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftContent .headerInputsContainer input {
  width: 97% !important;
  height: 15px;
  padding: 7px;
  background-color: rgb(120, 120, 120, 0.1);
  color: black;

  border-radius: 4px;
  border: none;
  outline: 1.5px solid transparent;
  transition: outline 0.2s ease;
}

.leftContent .headerInputsContainer input:focus {
  transition: outline 1s ease-out;
  outline: 1.5px solid gray;
}

.leftContent .experienceSection {
}

/* ---------------------------------- v Right side v ---------------------------------- */

.rightContent {
  background-color: white;
  height: 1000px !important;
}
.rightContent.contentSection {
}

.rightContent .headerInputsContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 160px;

  background-color: antiquewhite;
}

.rightContent .headerContainer {
  display: grid;
  justify-content: center;

  grid-template-rows: 65% 35%;
  grid-template-columns: repeat(fit-content(300px));
  max-width: 600px;
}

.rightContent .headerContainer div {
  display: flex;
  align-items: center;
  justify-content: center;

  align-self: center;
  justify-self: center;
}

.rightContent .headerContainer div input {
  pointer-events: none;

  width: 100%;
}

.rightContent .headerContainer div input::placeholder {
  color: transparent;
}

.rightContent .headerContainer div:first-child {
  min-width: 100%;
  background-color: transparent;
  grid-row: 1;
  grid-column: 1 / 4;
}

.rightContent .headerContainer div:first-child input {
  font-size: 30px;
  text-align: center;

  background-color: transparent;
  color: black;

  border: none;
  min-width: 600px !important;
}

.rightContent .headerContainer div:nth-child(2) {
  background-color: transparent;
  grid-row: 2;
  grid-column: 3;
  max-width: 200px;
}

.rightContent .headerContainer div:nth-child(3) {
  grid-row: 2;
  grid-column: 2;
  max-width: 250px;
}

.rightContent .headerContainer div:nth-child(4) {
  grid-row: 2;
  grid-column: 1;
  max-width: 300px;
}

.rightContent .headerContainer div:nth-child(1) {
  max-width: 400px;
}

.rightContent .headerContainer div:nth-child(2),
.rightContent .headerContainer div:nth-child(3),
.rightContent .headerContainer div:nth-child(4) {
  background-color: transparent;
}

.rightContent .headerContainer div:nth-child(2) input,
.rightContent .headerContainer div:nth-child(3) input,
.rightContent .headerContainer div:nth-child(4) input {
  font-size: 18px;
  text-align: center;

  background-color: transparent;
  color: black;
  border: none;
}

.rightContent .headerContainer h4 {
  display: none;
}

.rightContent .experienceSection {
}

.rightContent .titleAndButton {
  display: none !important;
}

.rightContent .addRowButton {
  display: none !important;
}

.rightContent .experienceInput {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 75px;
}

.rightContent .inputsContainer {
  height: 100%;
}

.rightContent .experienceInputs {
}

.rightContent .experienceButton {
  display: none;
}

.rightContent .inputsAndInputsButtonsContainer {
  visibility: visible !important;
  opacity: 1 !important;
  height: 100% !important;
  border-radius: 0px !important;

  display: flex !important;

  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.rightContent .inputsAndInputsButtonsContainer input {
  height: 31px;
  color: black;
  background-color: transparent;
  pointer-events: none;

  font-size: 14px;

  border: none;

  justify-content: center;
  align-items: center;
}

.rightContent .inputsAndInputsButtonsContainer input::placeholder {
  color: transparent;
}

.rightContent .inputsAndInputsButtonsContainer h5 {
  display: none;
}

.rightContent .inputsAndInputsButtonsContainer div:nth-child(1),
.rightContent .inputsAndInputsButtonsContainer div:nth-child(3) {
  margin-left: 20px;
}

.rightContent .inputsAndInputsButtonsContainer div:nth-child(4) {
  position: absolute;
  margin-left: 100px;
}

.rightContent .inputsAndInputsButtonsContainer div:nth-child(3) {
  position: absolute;
}

.rightContent .inputsAndInputsButtonsContainer div:nth-child(4) {
  position: absolute;
}

.rightContent .inputsAndInputsButtonsContainer div:nth-child(1) {
  margin-left: 185px;
  margin-top: 28px;
  position: absolute;
}

.rightContent .inputsAndInputsButtonsContainer div:nth-child(2) {
  margin-left: 185px;
  position: absolute;
}

.rightContent .inputsAndInputsButtonsContainer div:nth-child(2) input {
  font-weight: 800;
  font-size: 16px;
}

.rightContent .inputsAndInputsButtonsContainer div:nth-child(5) {
  display: none;
}

.rightContent .inputsAndInputsButtonsContainer div:nth-child(3) > input {
}

.rightContent .scaleUpBar {
  border-radius: 1px;
}

.rightTitle {
  margin-left: 20px;
}
