:root {
  --inputContainer-width: 400px;
  --input-width: calc(var(--inputContainer-width) / 2 - 7px);
}

.titleName {
  height: fit-content;
  margin: 0;
}

.headerInputs {
  max-width: var(--inputContainer-width);
  margin-left: 30px;
}

.headerAndInputsContainer {
  /* border: 1px solid var(--borderColor); */
}

.titleSelectorContainerInactive {
  border: 1px solid transparent;
  display: flex;
}

.titleSelectorContainerActive {
  border: 1px solid black;
  display: flex;
}

.titleSelectorContainerInactive button,
.titleSelectorContainerActive button {
  height: 30px;
}

.titleSelectorName {
  width: 100%;

  height: 100%;

  margin: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownHidden {
  display: none;
}

.dropdownDisplayed {
  display: flex;
}

.titleSelections {
  margin-top: 29px;
  margin-left: -1px;
  position: absolute;

  flex-direction: column;

  border-top: none;
  border: 1px solid black;
}

.titleSelections button {
  align-items: center;
  justify-content: center;
}
.titleSelectorContainer button:hover,
.titleSelections button:hover {
  background-color: lightgray;
}

.firstNameContainer button {
  width: 30px;
  height: 25px;

  background-color: white;
  color: black;

  border: none;

  margin-left: -30px;
}

.firstNameContainer,
.lastNameContainer,
.emailInputContainer,
.phoneNumberInputContainer {
  display: flex;
}

.firstNameContainer input,
.lastNameContainer input,
.emailInputContainer input,
.phoneNumberInputContainer input {
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;

  background-color: white;
  color: black;

  outline: none;
}

.firstNameContainer input:focus,
.firstNameContainer input:hover,
.lastNameContainer input:focus,
.lastNameContainer input:hover,
.emailInputContainer input:focus,
.emailInputContainer input:hover,
.phoneNumberInputContainer input:focus,
.phoneNumberInputContainer input:hover {
  border-bottom: 1px solid black;
}

.headerInputs h4 {
  margin: 0;
}

.headerInputs input {
  width: var(--input-width);
  height: 20px;
}
